* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    background: #27b919;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
}

.menu-item:hover {
    background: #18aec2;
    color: #fff;
    transform: scale(1.1);
}

.menu-item:active {
    background: #111;
    color: #fff;
}

.menu-item:nth-child(odd) {
    background: #18aec2;
}

.menu-item:nth-child(even) {
    background: #2575fc;
}
